<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- displays site properly based on user's device -->

    <title>RH | Bienes Raíces</title>

    <link href="https://fonts.googleapis.com/css?family=Ovo|Quattrocento+Sans:400,700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/8dec48132d.js"></script>
    <link rel="stylesheet" href="styles/styles.css" />

  </head>
  <body>
      <h2>Añadir propiedades</h2>
  </body>
</html>
