<nav class="primary-nav">
    <ul class="primary-nav__list">
        <li class="primary-nav__item"><a href="/" class="primary-nav__link">Inicio</a></li>
        <li class="primary-nav__item"><a href="/properties-list" class="primary-nav__link">Propiedades</a></li>
        <li class="primary-nav__item"><a href="/about" class="primary-nav__link">Nosotros</a></li>
        <li class="primary-nav__item"><a href="/contact" class="primary-nav__link">Contacto</a></li>
    </ul>
</nav>