<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- displays site properly based on user's device -->

    <title>RH | Bienes Raíces</title>

    <link href="https://fonts.googleapis.com/css?family=Cabin:400,500,600,700|Roboto+Condensed:300,400,700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/8dec48132d.js"></script>
    <link rel="stylesheet" href="styles/main.css" />

</head>
<body>
  <header>
    <nav class="primary-nav util__wrapper">
      <div class="primary-nav__left">
        <div class="primary-nav__logo">
          <h1>TuHouse</h1>
        </div>
      </div>
      <div class="primary-nav__right">
        <ul class="primary-nav__list">
            <li class="primary-nav__item"><a href="/" class="primary-nav__link">Residencial</a></li>
            <li class="primary-nav__item"><a href="/properties-list" class="primary-nav__link">Comercial</a></li>
            <li class="primary-nav__item"><a href="/about" class="primary-nav__link">Nosotros</a></li>
            <li class="primary-nav__item"><a href="/contact" class="primary-nav__link">Contacto</a></li>
        </ul>
      </div>
    </nav>

    <main>
      <section class="large-hero">
        <div class="large-hero__text-box util__wrapper">
          <h1 class="large-hero__text">
            <span class="large-hero__word">Asesoría</span>
            <span class="large-hero__word">inmobiliaria</span>
          </h1>
        </div>
        <span class="large-hero__down-narrow"><i class="fas fa-chevron-down"></i></span>  
      </section>

      <section class="presentation">
        <h1 class="primary-heading">
          <span>Asesoría inmobiliaria</span>
        </h1>
        <p class="paragraph">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga nam voluptatem fugit inventore magni recusandae rerum numquam quos, veritatis quam harum animi vitae. Ratione voluptates suscipit laborum error tempore autem!
        </p>
      </section>

      <section class="residential">
          <h1 class="primary-heading">
            <span>Residencial</span>
          </h1>
          <p class="paragraph">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga nam voluptatem fugit inventore magni recusandae rerum numquam quos, veritatis quam harum animi vitae. Ratione voluptates suscipit laborum error tempore autem!
          </p>
        </section>

        <section class="commercial">
            <h1 class="primary-heading">
              <span>Comercial</span>
            </h1>
            <p class="paragraph">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga nam voluptatem fugit inventore magni recusandae rerum numquam quos, veritatis quam harum animi vitae. Ratione voluptates suscipit laborum error tempore autem!
            </p>
          </section>
    </main>

  </header>

  <main>

  </main>



</body>
</html>
        