.large-hero {
    height: 75rem;
    width: auto;
    background-image: url('../../public/images/large-hero1.jpg');
    
    position: relative;

    &__text-box {
        position: absolute;
        top: 30%;
        right: 8%;
    }

    &__text {
        font-family: $font-roboto;
        font-weight: 400;
        color: $color-white;
        font-size: 11rem;
        text-align: right;
    }

    // &__word {
    //     display: block;
    // }

    &__down-narrow {
        width: 7rem;
        height: 8rem;
        background-color: $color-black;
        position: absolute;
        bottom: -4rem;
        left: 10rem;
        font-size: 3rem;
        font-weight: 300;
        color: $color-white;

        i {
            position: absolute;
            left: 50%;
            bottom: 10%;
            transform: translateX(-50%);
        }
    }


}