.primary-nav {
    font-size: 1.5rem;
    font-family: $font-roboto;
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
    position: relative;

    @include clearfix;


    &__left {
        width: 10%;
        float: left;
    }

    &__right {
        float: left;
        width: 90%;
    }

    &__logo {
        font-size: 2rem;
        font-weight: 700;
    }

    &__list {
        padding: 0;
        margin: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        text-transform: uppercase;
    }

    &__item {
        display: inline-block;

        &:not(:last-child) {
            margin-right: 4rem;
        }
    }

    &__link {
        text-decoration: none;
        color: $color-black;
    }
}