.about-us {
    text-align: center;

    &__introduction {
        height: 30rem;
        background-color: rgba($color-blue-light, .3);
        position: relative;
    }

    &__text-box {
        position: absolute;
        top: 20%;
        left: 8rem;
        font-size: 2rem;
        font-family: $font-playfair;
    }

    &__heading-introductory {
        
    }
}