.header {
    position: relative;

    &::after {
        animation: rotate-up .5s .5s cubic-bezier(0, .5, 0, 1) forwards;
        background: $color-white;
        content: "";
        height: 25rem;
        left: -5%;
        position: absolute;
          right: -5%;
          top: 90%;
        -webkit-transform-origin: 0 0;
                transform-origin: 0 0;
      }       
}
