.large-hero {
    background-image: linear-gradient(to right bottom, $color-blue, $color-blue-dark);
    // background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .8)), 
    // url('/assets/images/large-hero2.jpg');
    background-size: cover;
    height: 95vh;
    animation: fade-in 1.7s .5s cubic-bezier(0, .5, 0, 1) forwards;
    opacity: 0;


    &__text {
        position: absolute;
        top: 50%;
        left: 8rem;
        font-size: 3rem;
        font-family: $font-playfair;

    }

    &__logo-initials {
        font-family: $font-montserrat;
        font-size: 8rem;
        font-weight: 300;
        position: absolute;
        top: 4rem;
        right: 8rem;
        transform: translateX(-25%);
        color: $color-white;
        background-color: $color-black;
        margin: 0;
    }

}