.primary_nav {
    animation: fade-in 1.7s 1s cubic-bezier(0, .5, 0, 1) forwards;
    opacity: 0;
    padding: 4rem 5%;
    font-size: 1.7rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    font-family: $font-fira;
    text-transform: uppercase;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    li {
        display: inline-block;

        &:not(:last-child) {
            margin-right: 8rem;
        }
    }

    a {
        text-decoration: none;
        color: $color-white;
        font-weight: 300;
    }
}