/*
0 -600px: Phone
600 - 900px: Tablet portrait
900 - 1200px: Tablet landscape
1200 - 1800px: IS WHERE THE STYLES APPLY
1800px + : Big desktop

$breakpoint argument choices:
-phone
-tab-port
-tab-land
-big-desktop

ORDER: Base + typograhy > general layout + grid > page layout > components

1em = 16px
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-color: #F7F7F7; }

body {
  font-family: "Cabin", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #333; }

.primary-heading {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 7rem;
  font-weight: 300;
  padding: 0 0 5rem 15rem; }

.paragraph {
  width: 50%;
  font-size: 2rem;
  margin-left: 25rem; }

.util__wrapper {
  padding-left: 1.8rem;
  padding-right: 1.8rem; }

.primary-nav {
  font-size: 1.5rem;
  font-family: "Roboto Condensed", sans-serif;
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
  position: relative; }
  .primary-nav::after {
    content: "";
    display: table;
    clear: both; }
  .primary-nav__left {
    width: 10%;
    float: left; }
  .primary-nav__right {
    float: left;
    width: 90%; }
  .primary-nav__logo {
    font-size: 2rem;
    font-weight: 700; }
  .primary-nav__list {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    text-transform: uppercase; }
  .primary-nav__item {
    display: inline-block; }
    .primary-nav__item:not(:last-child) {
      margin-right: 4rem; }
  .primary-nav__link {
    text-decoration: none;
    color: #333; }

.large-hero {
  height: 80rem;
  width: auto;
  background-image: url("/images/large-hero1.jpg");
  position: relative; }
  .large-hero__text-box {
    position: absolute;
    top: 30%;
    right: 8%; }
  .large-hero__text {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
    color: #FFF;
    font-size: 11rem;
    text-align: right; }
  .large-hero__down-narrow {
    width: 7rem;
    height: 8rem;
    background-color: #333;
    position: absolute;
    bottom: -4rem;
    left: 10rem;
    font-size: 3rem;
    font-weight: 300;
    color: #FFF; }
    .large-hero__down-narrow i {
      position: absolute;
      left: 50%;
      bottom: 10%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%); }

.presentation {
  padding-top: 15rem;
  padding-bottom: 15rem; }

.residential {
  padding-top: 15rem;
  padding-bottom: 15rem; }

.commercial {
  padding-top: 15rem;
  padding-bottom: 15rem; }
