$color-blue: #61B3D2;
$color-blue-light: #C1E7F6;
$color-blue-dark: #217DA0;

$color-yellow: #FFD670;
$color-yellow-light: #FFEFC6;
$color-yellow-dark: #FFC22D;

$color-red: #FF8970;
$color-red-light: #FFD0C6;
$color-red-dark: #FF512D;

$color-black: #333;
$color-white: #FFF;

$color-grey: #F7F7F7;



$font-ovo: 'Ovo', serif;
$font-quattrocento: 'Quattrocento Sans', sans-serif;

$font-roboto: 'Roboto Condensed', sans-serif;
$font-cabin: 'Cabin', sans-serif;